.CardViewText,.CardViewLink,.CardViewHeading,.CardViewGroup,#CardTitle  {
	-moz-user-select:text !important;
}

.advCat {
	max-width: 120px;
}

#listIcon {
	max-height: 30px;
}

.extraMail {
	max-width: 350px;
}

#qfb-AB-sticky {
	list-style-image: url("chrome://morecols/content/black_pin.png");
}

#qfb-AB-sticky[checked] {
	list-style-image: url("chrome://morecols/content/red_pin.png");
}

#PSIbutton {
	max-height: 18px !important;
	min-width:1px !important; 
	border:0px !important; 
	margin:0px 5px;
}

#searchABbox {
	padding-top: 7px;
}
